{% extends "layout.html" %}
{% block title %}
Buy
{% endblock %}
{% block main %}
<!-- Form to buy -->
<form action="/buy" method="post">
   <div class="form-group">
      <!-- Input to place symbol -->
      <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
   </div>
   <div class="form-group">
      <!-- Input to place shares number -->
      <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
   </div>
   <!-- Button to submit -->
   <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}
