{% extends "layout.html" %}
{% block title %}
History
{% endblock %}
{% block main %}
<!-- Table to display history -->
<table class="table">
   <!-- Header  -->
   <thead>
      <tr>
         <th scope="col">Symbol</th>
         <th scope="col">Shares</th>
         <th scope="col">Price</th>
         <th scope="col">Transacted</th>
      </tr>
   </thead>
   <tbody>
      <!-- The information from DB  -->
      {% for operation in operations %}
      <tr>
         <td>{{ operation['symbol'] }}</td>
         <td>{{ operation['shares'] }}</td>
         <td>{{ operation['price'] }}</td>
         <td>{{ operation['date'] }}</td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}
