{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}
{% block main %}
<!-- Form to change password -->
<h1 class="mb-5">Change password</h1>
<form action="/changepassword" method="post">
   <div class="form-group">
      <!-- Old password -->
      <input autocomplete="off" autofocus class="form-control" name="oldpass" placeholder="Old password" type="password">
   </div>
   <div class="form-group">
      <!-- New password -->
      <input class="form-control" name="newpass" placeholder="New Password" type="password">
   </div>
   <div class="form-group">
      <!-- Confirm new password -->
      <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
   </div>
   <!-- Submit form -->
   <button class="btn btn-outline-primary mb-2" type="submit">Change Password</button>
</form>
{% endblock %}
